APP_NAME=ApplyFlow API
APP_ENV=Development
DEBUG=True

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql+psycopg_async://applyflow_user:change_me@db:5432/applyflow
TEST_DATABASE_URL=postgresql+psycopg_async://applyflow_user:change_me@db:5432/applyflow_test

SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=